/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 3rem;
}

@font-face {
    font-family: 'RubikBubbles';
    src: url('./fonts/RubikBubbles-Regular.ttf') format('truetype');
    font-style: normal;
}

/* Header container */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333347;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
    width: 40px;
    border-radius: 1.25rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    padding: 0 1.5rem;
    color: #dddee2;
    display: inline-block;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 6rem;
    background: linear-gradient(to right, rgb(142, 139, 126) 70%, rgb(63, 114, 136));
    min-height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    padding-top: 6rem;
}

.intro h1, .intro h2 {
    font-family: 'RubikBubbles', sans-serif;
}

.intro h1 {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    color:  #377D75;
}

.intro h2 {
    padding-top: 4rem;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #577699;
}

.intro-img {
    display: flex;
    justify-content: center;
    max-width: 50%;
    align-self: center;
}

.intro-img img {
    max-width: 70%; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.projects-button {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 4rem;
    width: 50%;
    align-self: center;
    font-family: 'RubikBubbles', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background-color: #377D75;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover Effect */
.projects-button:hover {
    background-color: #285e5c; 
    transform: translateY(-3px); 
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); 
}

/* Focus Effect (for accessibility) */
.projects-button:focus {
    outline: 2px solid #285e5c; 
    outline-offset: 4px;
}

/* About Me Section */
.about-me-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
    background: linear-gradient(to bottom, #A1ACA2, #A8B3A9);
}

.about-me-section img {
    max-width: 50%; 
    border-radius: 2rem; 
}

.about-me-section div {
    max-width: 50%;
    padding-left: 2.5rem;
}

.about-me-section h2 {
    font-family: 'RubikBubbles', sans-serif;
    font-size: 3rem;
    color: #377D75;
    margin-bottom: 1.5rem;
}

.about-me-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333; 
}

/* projects section */
